@page "/"
@layout HomeLayout

<PageTitle>Bem-vindo</PageTitle>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <MudPaper Style="width: auto; max-width: 80%; background-color: rgba(255, 255, 255, 0.8); backdrop-filter: blur(10px); border-radius: var(--app-radius)" Class="mx-auto p-4">
        <MudText Typo="Typo.h3" Class="display-4 mb-4 text-center" Color="Color.Primary">
            Bem-vindo ao Help Mate!
        </MudText>
        <MudDivider Class="my-4"/>
        <MudText Typo="Typo.body1" Class="lead mt-4 text-center">
            O seu parceiro ideal para organizar projetos, tarefas e colaborações de forma eficiente e intuitiva.
        </MudText>
        <MudText Typo="Typo.body1" Class="lead text-center">
            Desenvolvido para oferecer uma plataforma completa para registar e gerir tarefas associadas a projetos, facilitando a organização do trabalho e a faturação aos clientes.
        </MudText>
    </MudPaper>
</div>